body, div, p, span, table, table th, table td, ul, li {
	margin: 0;
	border: 0;
	padding: 0;
}
body, div, p, span, table, table th, table td, ul, li, input, option {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	font-size: 16px;
}
html,
body {
	width: 350px;
	height: 100%;
}
/*------------------------------------------------------------*/
/* 入力欄 */
/*------------------------------------------------------------*/
input[type="text"],
input[type="number"] {
	width: 5em;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 4px;
	font-size: 16px;
}
input[type="number"] {
	text-align: right;
}
/*------------------------------------------------------------*/
/* テーブル */
/*------------------------------------------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
}
table th,
table td {
	border-right: 1px solid #5F5F5F;
	border-bottom: 1px solid #5F5F5F;
	padding: 4px 8px;
	white-space: nowrap;
}
table th:first-child,
table td:first-child {
	border-left: 1px solid #5F5F5F;
}
table th {
	padding: 4px 8px;
	background-color: #5F5F5F;
	color: white;
}
table tr:nth-child(even) {
	background-color: #F8F8F8;
}
table.mini {
	display: inline-block;
	width: auto;
	vertical-align: bottom;
}
/*------------------------------------------------------------*/
/* 株価一覧 */
/*------------------------------------------------------------*/
table td.btn_bunseki {
	width: 50px;
}
table td.juni {
	text-align: center;
}
table td.shoken_code {
	text-align: center;
}
table td.kaishamei {}
table td.shijo {
	text-align: center;
}
table td.torihiki_date {
	text-align: center;
}
table td.torihikine {}
table td.zenjitsuhi_gaku {}
table td.zenjitsuhi_ritsu {}
table td.dekidaka {}
table td.takane {}
table td.yasune {}
table td.uehigeritsu {}
table td.gyoshu {}
table td.yoku_eigyobi {}
table td.csv_date {}
table td.yoku_yoritsuki {}
table td.yoku_takane {}
table td.yoku_yasune {}
table td.kanosei_win {
	text-align: center;
}
table td.kanosei_lose {
	text-align: center;
}
table td.yoritsuki_kairiritsu {}
table td.judge {
	text-align: center;
}
table td.pips {}
table td.pips_shisu_bar {
	padding-left: 0;
}
/*------------------------------------------------------------*/
/* スクロール領域 */
/*------------------------------------------------------------*/
.scroll_wrapper {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}
/*------------------------------------------------------------*/
/* マイナス表示 */
/*------------------------------------------------------------*/
.minus {
	color: red;
}
/*------------------------------------------------------------*/
/* 寄せ */
/*------------------------------------------------------------*/
.align_right {
	text-align: right;
}
/*------------------------------------------------------------*/
/* ボタン */
/*------------------------------------------------------------*/
.button {
  display: inline-block;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button {
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
}
.button:hover {
  border-color: #59b1eb;
  background-color: #fff;
  color: #59b1eb;
}
.button.mini {
	padding: 4px 6px;
	font-size: 12px;
}
/*------------------------------------------------------------*/
/* リスト */
/*------------------------------------------------------------*/
.header ul {
	display: block;
	overflow: auto;
	white-space: nowrap;
	font-size: 0;
}
.header ul li {
	display: inline-block;
	min-width: 5em;
	list-style: none;
}
.header ul li a {
	display: block;
	padding: 10px 20px;
	background-color: #6A6E76;
	color: white;
	text-decoration: none;
}
.header ul li a:hover {
	background-color: #333333;
}
/*------------------------------------------------------------*/
/* コンテンツ */
/*------------------------------------------------------------*/
.contents {
	padding: 0;
}
/*------------------------------------------------------------*/
/* 見出し */
/*------------------------------------------------------------*/
h2 {
	margin-bottom: 1px;
	border-left: 5px solid #000000;
	padding: 4px 8px;
	background-color: #5F5F5F;
	color: #FFFFFF;
	font-size: 1.2em;
}
/*------------------------------------------------------------*/
/* インライン */
/*------------------------------------------------------------*/
.inline {
	display: inline-block !important;
	vertical-align: top !important;
}
/*------------------------------------------------------------*/
/* バー */
/*------------------------------------------------------------*/
.bar {
	display: inline-block;
	height: 12px;
	background-color: #999999;
}
.minus_bar {
	background-color: #ff9999;
}
/*------------------------------------------------------------*/
/* グラフ */
/*------------------------------------------------------------*/
.graph_wrapper {
	max-width: 100%;
	overflow: auto;
}
/*------------------------------------------------------------*/
/* 定義リスト */
/*------------------------------------------------------------*/
div.two_block {
	display: inline-block;
	width: 48%;
}
dl {
	display: table;
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: 0;
}
dl dt,
dl dd {
	display: table-cell;
	margin: 0;
	padding: 5px 10px;
}
dl dt {
	min-width: 7em;
	width: 7em;
	border-right: 1px solid #ddd;
	white-space: nowrap;
}
dl dd {
	display: inline-block;
	font-size: 14px;
}
/*------------------------------------------------------------*/
/* ボタンエリア */
/*------------------------------------------------------------*/
.btn_area {
	margin-top: 10px;
	text-align: center;
}
/*------------------------------------------------------------*/
/* ボタン */
/*------------------------------------------------------------*/
.btn_base {
	display: inline-block;
	border-radius: 4px;
	border-bottom: 4px solid #787878;
	padding: 10px 25px;
	background-color: #C1C1C1;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.btn_base:hover {
	background-color: #A8A8A8;
}
.btn_base:active {
	background-color: #787878;
}
/*------------------------------------------------------------*/
/* アコーディオン */
/*------------------------------------------------------------*/
.accordion_wrapper {
	display: none;
}